*, 
html{
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    height: 10vh;
    background-color: purple;
}

.a-navbar{
    color: white;
    text-decoration: none;
}

.li-navbar{ 
    padding: 20px;
    margin: 10px;
    font-size: 23px;   
    color: rgb(16, 15, 15);
    font-size: 20px;
}

.li-navbar:hover{
    background-color: red;
    padding: 20px;
    margin: 5px;
    cursor: pointer;
    transition: .5s ease-in-out;
    border-radius: 8px;
    transition-delay: .2s;
}

.ul-navbar{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.foto{
    width: 720px;
    height: 480px;
    background-color: rgb(243, 235, 235);
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 10px 10px 5px 0px rgba(243, 1, 1, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(246, 3, 3, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(248, 11, 11, 0.75);
}

.container-content{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(7, 7, 7);
    height: 80vh;
    color: rgb(249, 245, 245);
}
.container-footer{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 10vh;
    background-color: rgb(174, 122, 27);
}

.a-content{
    text-align: center;
    margin-top: 450px;
    text-decoration: none;
    color: rgb(237, 21, 21);
    font-size: 20px;
    margin-left: 30px;
    position: fixed;
}

.a-conten{
    color: green;
    position: fixed;
    margin-top: 450px;
    font-size: 20px;
    
}